* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
    background-color: #000;
    color: #fff;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8,60px);
    grid-template-rows: repeat(8,60px);
    margin: 20px auto;
}

.chessboard-square {
    width: 60px;
    height: 60px;
    border: solid 1px;
}

.white-square {
    background-color: #fff;
}

.black-square {
    background-color: #000;
}